<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card-header">
                    <h3 class="card-title">管理首页</h3>
                </div> <!-- /.card-body -->
                <div class="row" style="margin-top: 40px;border-top:0px;">
                    My Blog 后台管理系统首页
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>SpringBoot+Mybatis+Thymeleaf 搭建个人博客
    SpringBoot+Mybatis+Thymeleaf 搭建个人博客
    前往课程主页 >
    目前已学习 18/27 个章节

    (课程已于 2020-06-10 到期)

    实验 1
    快速构建 Spring Boot 应用
    已学习
    实验 2
    SpringBoot项目开发之web项目开发讲解
    已学习
    实验 3
    SpringBoot整合Thymeleaf模板引擎
    已学习
    实验 4
    Spring Boot 处理文件上传及路径回显
    已学习
    实验 5
    Spring Boot 自动配置数据源及操作数据库
    已学习
    实验 6
    SpringBoot整合MyBatis操作数据库
    已学习
    实验 7
    Mybatis-Generator自动生成代码
    已学习
    实验 8
    Spring Boot 中的事务处理
    已学习
    实验 9
    项目实践之 Ajax 技术使用教程
    已学习
    实验 10
    项目实践之 RESTful API 设计与实现
    已学习
    实验 11
    SpringBoot博客系统项目开发之分页功能实现
    已学习
    实验 12
    SpringBoot博客系统项目开发之验证码功能
    已学习
    实验 13
    SpringBoot博客系统项目开发之登录模块实现
    已学习
    实验 14
    SpringBoot博客系统项目开发之登陆拦截器
    已学习
    实验 15
    SpringBoot博客系统项目开发之分类功能实现
    已学习
    实验 16
    SpringBoot博客系统项目开发之标签功能实现
    已学习
    实验 17
    SpringBoot博客系统项目开发之文章编辑功能
    已学习
    实验 18
    SpringBoot博客系统项目开发之文章编辑完善
    已学习
    实验 19
    SpringBoot博客系统项目开发之文章功能实现
    未学习
    实验 20
    SpringBoot博客系统项目开发之友链模块实现
    未学习
    实验 21
    SpringBoot博客系统项目开发之网站首页制作
    未学习
    实验 22
    SpringBoot博客系统项目开发之分页及侧边栏
    未学习
    实验 23
    SpringBoot博客系统项目开发之搜索页面制作
    未学习
    实验 24
    SpringBoot博客系统项目开发之文章详情制作
    未学习
    实验 25
    SpringBoot博客系统项目开发之错误页面制作
    未学习
    实验 26
    SpringBoot博客系统项目开发之评论功能实现
    未学习
    实验 27
    SpringBoot博客系统项目开发之项目打包部署
    未学习

    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171667779-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-171667779-1');
</script>


<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>

</body>
</html>
